<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<appSettings>
			<add key="NDF1" value="COM1" />
			<add key="NDF2" value="COM2" />
			<add key="PM100A" value="USB::0x1313::0x8079::P1001558::INSTR" />
			<add key="M9700" value="COM9" />
			<add key="iHR550_sID" value="" />
			<add key="iHR550_sName" value="" />
		</appSettings>
</configuration>